[Unit]
Description=NutriCycle auto start
After=network-online.target
Wants=network-online.target
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
User=nutricycle
SupplementaryGroups=video
WorkingDirectory=/home/nutricycle/NutriCycle-RaspBerry-v2/deploy
ExecStartPre=/bin/sleep 8
ExecStart=/bin/bash -lc 'source /home/nutricycle/yolo/venv/bin/activate; exec /bin/bash /home/nutricycle/NutriCycle-RaspBerry-v2/deploy/start_stream_with_status.sh'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
